
[submodule "src/modules/adempiere-store/api/extensions/erpya-module-2"]
	path = src/modules/adempiere-store/api/extensions/erpya-module-2
	url = /opt/Development/workspace-web/gateway-customer-api/
[submodule "src/modules/adempiere-store/api/extensions/erpya-module-3"]
	path = src/modules/adempiere-store/api/extensions/erpya-module-3
	url = /opt/Development/workspace-web/gateway-customer-api/
[submodule "src/modules/adempiere-store/api/extensions/erpya"]
	path = src/modules/adempiere-store/api/extensions/erpya
	url = /opt/Development/workspace-web/gateway-customer-api/
